body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
  min-width: 985px;
}

/*Containers*/
.headerBar {
	width: 100%;
	height: 56px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.ml0 {
  margin-left: 0px !important;
}

.textArea {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.textContainer {
	width: 685px;
	height: auto;
	border-radius: 2px;
	background-color: #ffffff;
  padding: 95px;
  padding-top: 60px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

select {
	width: 220.3px;
	height: 48px;
	border-radius: 2px;
	background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  font-size: 16px;
}

select:hover {
  cursor: pointer;
}

select:hover:disabled {
  cursor: no-drop;
}

select:disabled {
  color: lightgray;
}